@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins&display=swap");

/* Global CSS */
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e8f2ff;
}

h2 {
  font-family: "Mochiy Pop One", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

/* Navbar */
.nav {
  display: flex;
  background-color: white;
  flex-basis: 35px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem;
  border-radius: 25px;
}

.nav div:nth-child(1) {
  cursor: pointer;
}

.nav h4 {
  margin: 0px auto;
}

.nav img {
  padding-right: 15px;
  width: 50px;
}

.nav > div:nth-child(1) {
  display: flex;
  flex-basis: 25%;
  align-items: center;
}

.nav > div:nth-child(2) {
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
}

.nav > div:nth-child(3) {
  display: flex;
  flex-basis: 25%;
  justify-content: space-evenly;
  align-items: center;
  border-left: 3px solid black;
}

.button-background {
  border-radius: 25px;
  background-color: #e8f2ff;
  padding: 0.5rem 1.5rem;
}

/* Keys to Display */
.keys-to-type {
  display: flex;
  width: 25%;
  margin: auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.keys-to-type > h1 {
  padding: 1rem;
}

/* input-box for User Keys */
.input-box {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.5rem;
}

.input-box > input {
  width: 95%;
  border: none;
  padding: 1rem;
  font-size: 50px;
  text-align: center;
}

.input-box > input {
  border-bottom: 5px solid #405cf5;
}

/* Metrics for User Keys */
.metrics {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 30px 0.5rem;
}

.metrics span {
  color: #405cf5;
}

/* Home Page CSS */
.start-button-div-0 .start-button-css {
  display: flex;
  width: 80%;
  margin: 30px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.start-button-div {
  display: flex;
  width: 505;
  margin: 30px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Button CSS */
.start-button-css {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 0 1rem;
  outline: none;
  padding: 0 25px;
  text-align: center;
}

.start-button-css:disabled {
  cursor: default;
}

.start-button-css:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.start-button-css:hover {
  color: #fff;
  background-color: black;
}

/* instruction-box */
.instruction-box {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
}
.instruction-box h1 {
  text-align: center;
  padding-bottom: 12px;
}
.instruction-box li {
  font-size: 21px;
  margin: 1rem auto;
}
.instruction-box a button {
  width: 100%;
  margin: 1rem auto 1.5rem;
}

/* form-login */

.form-login {
  padding: 32px 17px;
  background-color: #fff;
  width: 30%;
  margin: 60px auto;
  border-radius: 17px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.form-login h2 {
  text-align: center;
}

.form-login input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  margin: 12px auto;
}

.form-login button {
  width: 100%;
  padding: 8px 12px;
  margin: 12px auto;
  border-radius: 12px;
  background-color: #405cf5;
  color: #fff;
  margin-top: 1rem;
}

.form-login button:hover {
  cursor: pointer;
  background-color: black;
}
